[submodule "Button"]
	path = Button
	url = https://github.com/TheOnlyTails/Button
[submodule "Blink"]
	path = Blink
	url = https://github.com/TheOnlyTails/Blink
[submodule "7-Segment-Display"]
	path = 7-Segment-Display
	url = https://github.com/TheOnlyTails/7-Segment-Display
[submodule "LED-Matrix-Display"]
	path = LED-Matrix-Display
	url = https://github.com/TheOnlyTails/LED-Matrix-Display
